#home-banner-2{background-image: url(./../images/home-banner2.jpg);}
#home-banner-3{background-image: url(./../images/home-banner3.jpg);}
#home-banner-4{background-image: url(./../images/home-banner4.jpg);}
#testimonial-header{background-color: #eff2ff!important;}
#testimonial-header h2{margin-bottom: 0px!important;padding-top: 50px;}
.mySwiper2{background-color: #eff2ff!important;}
