@media only screen and (min-width: 601px) and (max-width: 1024px) {
.banner-carousel h1{font-size: 20px!important;font-weight: normal!important;line-height: 2!important;}
.banner-carousel h3{font-size: 35px!important;font-weight: 800!important;}
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
.banner-carousel h1{font-size: 20px!important;font-weight: normal!important;line-height: 2!important;margin-top: -40px!important;}
.banner-carousel h3{font-size: 35px!important;font-weight: 600!important;}
/*.banner-carousel .p_relative{overflow: hidden!important;}*/
}
.tab-active{color: #489DD6!important;}
p{line-height: 1.8!important;font-weight: normal!important;}
.cta-section .inner-container .theme-btn{padding: 15.5px 30px!important;}
.alert-success{padding: 10px!important;margin: 10px 10px 25px 10px !important;font-size: 12px;}
.let-know-label{opacity: 0;}
.list-style-one li span{color: #73727c;font-weight: normal;text-shadow: none;}
.services-slide{width: 360px;height: 380px;padding: 20px!important;width: 360px;height: 380px;padding: 20px !important;display: flex;flex-direction: column;justify-content: space-between;}
.four-item-carousel .text{padding: 25px;display: flex;flex-direction: column;height: 100%;}
.four-item-carousel p{line-height: 1.7;font-size: 12px;font-weight: 400;margin-top: 20px;}
.four-item-carousel h3,.four-item-carousel p{text-align: left;color: #73727c!important;}
.four-item-carousel h3{font-size: 20px;}
.four-item-carousel h3 a{color: #489DD6!important;}
.four-item-carousel .btn-box a{  padding: 3px 15px;font-size: 12px !important;}
.four-item-carousel .owl-carousel .owl-item {
    width: 200px; /* Set the width of each item to 200 pixels */
}
/*.country-section .auto-container{max-width: 1400px!important;}*/
.banner-carousel .content-box{display: flex;justify-content: space-between;flex-direction: column;}
.banner-carousel h1,.banner-carousel h3{margin: unset!important;}
.banner-carousel h3{padding-bottom: 22px;text-transform: capitalize;}
.banner-carousel h1{padding-bottom: 22px;}
.banner-carousel .slide-item::before{background: unset!important;}
.news-section h3 a{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;}
.news-section li a{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;color: #73727c!important}
.news-section .read-more{color: #489DD6!important;}
.news-section .lower-content{height: 280px;display: flex;flex-direction: column;justify-content: space-between;}
.clients-section .more-text{width: 75%;margin: 0 auto;padding: 15px 0px;}
.main-menu .navigation{padding-left: 75px!important;}
.main-header .logo-box .logo{max-width: 180px!important;}
.main-menu .navigation > li > ul > li .active{color: #489DD6!important;}
/* Services > Data Management */
.data-management-bg {text-align: center;padding: 70px 20px;background-image: url(../images/background/data-management-bg.jpg);background-attachment: fixed;background-size: cover;width: 100%;min-height: 273px;color: #fff;}
.data-management-bg p{font-weight: normal!important;padding-top: 15px;text-shadow: none;}
.data-management-bg h3{padding-top: 35px;} 
.backend-block-inside {text-align: left;margin-bottom: 50px;-webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;-o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;padding: 15px 15px 15px 40px;margin-top: 30px;
}
.db-content-1{padding: 50px 0px;}
.devope-inside-content-wrapper {
  min-height: 516px;
  background: #52b5e6;
  color: #fff;
  padding: 74px;
  padding: 24px 83px;
}
/* Services > Data Management  */
/* Services > System Migration  */
img.welcome-image {
  width: 100% !important;
}
.devopes-services {
  background: #f2f3f8;
  padding: 64px;
}
.cloud-services-block h4 {
  text-align: center;
  font-weight: normal !important;
  font-size: 16px !important;
  color: #52b5e6 !important;
}
.cloud-services-block {
  border: 1px solid #ccc !important;
  margin: 13px 40px;
  padding: 24px 28px;
}
.cloud-services-block:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 15px 15px 38px 0 rgba(0,0,0,.1);
    border: 1px solid transparent !important;
}
.devopes-services h2, .devopes-expertise h2, .Managed-it-Services h2, .enterprise-services h2 {
    margin-top: 0px;
    color: #1f83ce;
    text-align: center !important;
}
.devopes-expertise {
    text-align: center;
    padding-top: 20px;
}
.web-mig {
    margin: 0px 18px;
}
.welcome-header h4 {
    font-size: 20px !important;
    font-weight: bold;
    /* margin: 20px 0px 30px 0px !important; */
    line-height: 28px;
    font-size: 16px;
}
.devopes-services {
    background: #f2f3f8;
    padding: 64px;
}

.migration-grid{  display: flex;flex-wrap: wrap;}
.item {flex-basis: 48%;padding: 20px;}
/* Services > System Migration  */
/* Services > Data Warehouse  */
.data-wirehouse-bg {
  text-align: center;
  padding: 70px 20px;
  background-image: url(../images/resource/data-wirehouse-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 273px;
  color: #fff;
}
.managed-it-services-content h4{color: #fff!important;padding-top: 15px;font-size: 20px;}
.managed-it-services-content p{color: #fff;font-size: 14px;text-shadow: none;} 
.cloud-services {
  text-align: center;
  background: #f2f3f8;
  padding: 40px 20px;
}
.testing-animation-lgwarp{margin: 20px;text-align: center;width: 100%;}
/* Services > Data Warehouse  */
/* Services > Q and A  */
.three-grid h4{padding: 15px 0px!important;color: #666;}
.three-grid p{line-height: 2!important;}
/* Services > Q and A  */
.main-wrapperin ul{list-style: unset!important;padding-left: 30px!important;}
.main-wrapperin li{list-style-type: unset!important;}
.software-dev-text p{font-weight: 400!important;text-shadow: none;}
.applications-dev-bg {
  text-align: center;
  padding: 70px 20px;
  background-image: url(../images/background/mobile-apps-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 750px;
  color: #fff;
}
.applications-dev-bg .content-div1{text-align: left !important;display: flex;flex-direction: column;justify-content: center;}
.applications-dev-bg .item1{padding: 20px 50px!important;}
.applications-dev-bg h2{width: 100%;padding-bottom: 30px;color: #fff;}
.advisory-block-inside h4 {
    font-weight: 600 !important;
}
.advisory-block-inside p {
    font-size: 15px;
}
.advisory-block-inside:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 15px 15px 38px 0 rgba(0,0,0,.1);
}
.expertise-header{width: 100%;}
.expertise-header h2{padding: 30px;}
.advisory-block-inside h4{padding: 10px;}
.advisory-block-inside img{padding: 10px;}
.advisory-block-inside p{line-height: 2!important;}
.advisory-block-inside{text-align: center;}
.row-gap {margin: 50px 0px !important;}
.footer-logo {width: 90%;margin: 30px 0px;}
.footer-logo{max-width: unset!important;}
.logo-paragraph-wraper p{color: #fff;}
.footer-wrapper {
  position: relative;
  width: 100%;
/*  background: #202426;*/
}
.widget-title {
  font-weight: 600;
  position: relative;
  font-size: 23px;
  line-height: 30px;
  color: #fff !important;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif !important;
}
.divideres.divideres-primary {
  margin: -23px 0px 15px 0px;
}
.divideres {
  display: block;
  width: 70px;
  height: 3px;
  display: inline-block;
  background: #52b5e6 !important;
}
.computer-softwrer-wrapper li a{color: #9390a7!important;}
.footer-primary-viper p{color: #9390a7!important;}
.main-footer .widget-section{padding: 20px 0px!important;}
.social-links{padding-top: 20px;}
.main-footer .widget-section .widget-title{margin-bottom: 10px;}
.menu-area .mobile-nav-toggler{margin-top: 20px!important;}
.mobile-menu .nav-logo{position: relative;height: 180px!important;display: flex;align-content: center;justify-content: center;align-items: center;padding: 30px;}
.sticky-header{display: block!important;}
.sticky-header .logo-box{padding: 15px 0px!important;}
.author-box{padding: unset!important;text-align: center;}
.mobile-menu .contact-info{position: relative;padding: 80px 30px 20px 30px;}
.service-details .support-widget .inner-box{
  background-size: cover;
  background-repeat: no-repeat;
}

.service-details .support-widget .inner-box:before{
  position: absolute;
  content: '';
  background: #1b182f;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  opacity: 0.85;
}

.service-details .support-widget .inner-box p{
  color: #9390a7;
}

.service-details .support-widget .inner-box h4 a:hover{
  color: #fff;
  text-decoration: underline;
}
.types-of-management h3{  margin-top: 50px;margin-bottom: 24px;font-size: 18px;}
.types-of-management p{font-size: 16px;color: #666666!important;}
.cta-section .bg-layer{height: 100%;}
.country-section .inner-content .single-item .image-box img{height: 350px!important;}
.sec-title h2{font-size: 35px!important;}
.country-section .owl-dots{display: none;}
.country-section .btn-box{  display: flex;flex-direction: column;justify-content: flex-end;align-items: center;height: 100%;}
.banner-carousel .content-box h3{color: #489DD6!important;}
.dm-header-section{display: flex;align-items: center;justify-content: center;}
.dm-header{text-align: right;}
.dm-header h1{color: #489DD6!important;font-size: 60px;}
.dm-sub-text{font-size: 16px;text-align: center;text-align: center;padding: 30px 0px;color: #333333!important;}
.dm-sub-text p{padding: 0px 0px;font-size: 18px;}
.dm-7-types{margin-top: 48px;}
.dm-7-types .main-heading{color: #333333!important;font-size: 40px;}
.main-heading{font-size: 40px!important;}
.dm-7-types h3{color: #666666!important;font-size: 24px;}
.data-management-details{position: relative;padding: 60px 0px 0px 0px;}
.dm-header-line{padding: 30px 0px;}
.dm-d_block p{font-size: 18px;}
/*.dm-wide-image{margin:0px 60px;}*/
.types-of-management{margin-top: 30px!important;}
.web-security-content .two-column .content-box .list li:before{color: #666!important;}
.web-security-content .sub-head-1{margin: 30px 0px;}
.web-security-content ul li{color: #000!important;}
.web-security-content .heading{text-align: center;color: #333333!important;font-size: 40px!important;}
.about-text-content-2 p{text-align: center;}
.grey-bg-section .content-style-two{margin-top:56px;margin-bottom: 30px!important;}
.grey-bg-section .black-span-im img{width: 60px; height: 60px;vertical-align: middle;margin-right: 15px;}
.grey-bg-section .black-span-im{position: unset!important;display: unset!important;}
.grey-bg-section .two-column .content-box h3{margin-bottom: unset!important;display: flex;align-items: center;line-height: 1.5;}
.grey-bg-section .two-column .content-box span{margin-bottom: 0px!important;}
.grey-bg-section .two-column .content-box{margin: 30px;}
.grey-bg-section .align-items-center{margin: 30px;}
.grey-bg-section .second-row{margin-top: 30px;}
.grey-bg-section .two-column .content-box h3{font-size: 25px!important;justify-content: center;}
.grey-bg-section .two-column{margin-bottom: 40px!important;}
.systems-migration .p-header{margin-top: 50px;}
.qa-header-line-1{padding-top: 30px;padding-bottom: 15px;}
.qa-header-line-2{padding-top: 15px;padding-bottom:30px }
.grey-bg-section .two-column .box-border{margin: unset !important;display: flex;align-items: center;justify-content: center;text-align: center;}
.two-column .box-border .content-box{padding: 20px;border: 2px solid #333;border-radius: 20px;width: 100%;justify-content: center;} 
.grey-bg-section .box-border .content-box{margin: 40px;}
.grey-bg-section .box-border .content-box h3{height: 60px;}
.devops-text-block{}
.testing-servies .box-border .content-box{margin: 25px!important;}
.devops-container{margin: 40px 0px!important;}
.sft-development-two-section ul{padding-left: 15px!important;}
.sft-development-two-section ul li{list-style: initial!important;color: #73727c!important;}
.sft-development-container{margin: 80px 0px!important;}
.mobile-app-coulumn{display: flex;flex-direction: column;justify-content: center;}
.mobile-app-coulumn h3{font-weight: 600!important;line-height: 1.6;}
.two-column .box-border .content-box-2{width: 280px!important;}
.services-grid li{width: auto;display: inline-block;}
.app-service-section .left{justify-content: end!important;}
.app-service-section .right{justify-content: start!important;}
.web-security-content .content-style-two{margin-top:60px;margin-bottom: 30px!important;}
.know-types-header{text-align: center;color: #333333!important;font-size: 40px!important;}
.expertise-qa-image{padding: 50px 0px 0px 0px;margin: 0px 50px;}
.web-development-container .box-border .content-box{margin: 25px!important;}
.three-breaks{margin-top:40px;}
.text-heading1{font-size: 22px!important;}
.app-development-container p{padding: 30px 0px;}
.app-development-container{padding-top: 30px;}
/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
.banner-carousel h1{font-size: 15px!important;font-weight: normal!important;line-height: 2!important;}
.banner-carousel h3{font-size: 25px!important;font-weight: 800!important;}
.cta-section h2{font-size: 20px!important;}
.cta-section .inner-container .btn-box{display: flex!important;justify-content: center;}
.news-section li a{display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;color: #73727c!important}
.db-content-1{padding: 25px!important;}
.web-sercurity{padding: 15px!important;}
.data-management-bg{padding: 40px!important;}
.devope-inside-content-wrapper{padding: 40px!important;}
.devope-inside-content-wrapper p{line-height: 1.5!important;}
.migration-grid {flex-wrap: nowrap;justify-content: center;}
.item {flex-basis: 100%!important; }
.three-grid-responsive{padding: 35px;}
.dm-header .image-column .mr_60{margin: 30px!important;}
.data-management-details{padding-top: 0px!important;}
.dm-header h1{font-size: 25px!important;}
.dm-header{text-align: left!important;}
.dm-header-line{padding: 15px 0px!important;}
.dm-d_block p{font-size: 16px!important;}
.dm-wide-image{margin: 0px!important;}
.d_block .dm-d_block{margin-bottom: 0px!important;}
.dm-sub-text p{padding: 0px 15px!important;font-size: 16px!important;text-align: left;}
.dm-7-types .main-heading{font-size: 25px!important;}
.dm-7-types{margin-top: 20px!important;}
.types-of-management .pr_60{padding-right: 15px!important;}
.types-of-management h3{margin-top: 30px!important;margin-bottom: 20px!important;font-size: 20px!important;}
.web-security-content .heading{font-size: 25px!important;}
.web-security-content .content-style-two{margin-top:30px;}
.web-security-content .sub-head-1{margin: 20px 0px!important;}
.service-details-content .two-column .content-box h3{font-size: 20px!important;}
.systems-migration .content-column{text-align: left!important;}
.systems-migration .about-text-content-2 p{text-align: left!important;}
.data-warehousing-grey .content-box{margin: 20px!important;text-align: center;padding: 12px!important;}
.qa-header-line-1{padding-top: 25px!important;}
/*.content-column{padding: 30px;}*/
.expertise-qa-image{margin: 0px;padding: 30px 0px 0px 0px!important;}
.expertise-qa-content{margin-top: 20px!important;}
.qa-testing-grey .content-box{margin: 20px!important;text-align: center;padding: 12px!important;}
.qa-testing-grey .content-column{padding: 0px!important;}
.dev-ops-box-container .box-border .content-box{margin: 20px!important;text-align: center;padding: 12px!important;}
.devops-container{margin: 20px 0px!important;}
.sft-development-container{margin: 40px 0px!important;}
.web-development-container .main-heading{font-size: 25px!important;}
.web-development-container .box-border .content-box{margin: 20px!important;text-align: center;padding: 12px!important;}
.mobile-app-coulumn h3{font-size: 20px!important;}
.mobile-app-coulumn-2{margin-top: 30px;}
.application-development-grey-1 .box-border .content-box{margin: 20px!important;text-align: center;padding: 12px!important;}
.team-details{padding: 0px!important;}
.contact-section{padding: 0px!important;}
.banner-carousel .content-box{height: 250px!important;justify-content: unset!important;}
.four-item-carousel p{line-height: 1.7!important;font-size: 14px;font-weight: 400;margin-top: 20px;}
.country-section .inner-content .single-item .image-box img{height: 380px!important;}
.auto-container{padding: 0px 30px;}
.dm-header .image-column{padding: 0px!important;}
.three-breaks{margin-top:20px;}
.text-heading1{font-size: 16px!important;}
/*.dm-wide-image img{height: 100px;}*/
.paragraph-type-1{padding: 0px!important;}
.service-details-content .two-column .content-box h3{font-size: 18px!important;}
.main-heading,.know-types-header{font-size: 25px!important;}
.mt_30_mobile{margin-top: 30px;}
.mobile-content-left{text-align: left!important;}
}

/* Styles for tablets */